
textarea {
    min-height: 400px;
}

div {
    display: flex;
}

#email-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-style: groove;
}

#emails-container {
    display: flex;
    flex-direction: column;
}

.email-header {
    margin: 2px;
}

.flex-container {
    display: flex;
}

.heading-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}