
textarea {
    min-height: 400px;
}

div {
    display: flex;
}

#email-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-style: groove;   
}


.flex-container {
    display: flex;
}

